{% extends 'ReviewFlix/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Add a Movie
{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'css/add_movie.css' %}">
    <link rel="stylesheet" href="{% static 'css/film.css' %}">

{% endblock %}

{% block body_block %}
    <div class="wrapper">
        <div class="description">
            <h1>Welcome to the Add a Movie Page</h1>
        </div>
    </div>

    <!-- add_film.html -->
    <form class="add-movie-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn submit-btn">Submit</button>
    </form>
{% endblock %}