<!DOCTYPE html>
{% load static %}

<html>
  <head>
    <title>
      ReviewFlix - 
      {% block title_block %}
        Base Page
      {% endblock %}
    </title>
    <link rel = "stylesheet", href = "{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">

    {% block additional_css %}{% endblock %}
    


   

 
  </head>


  <body>
    <header>

        <img class="logo_img" src="{% static 'film_images/logo.png' %}"/>

        <ul>
          
          <li><a href="{% url 'ReviewFlix:Home' %}">Homepage</a></li>
          <li class="dropdown">
            <a href="{% url 'ReviewFlix:Genres' %}">Genres</a>
            <div class="dropdown-content">
              <ul class="dropdown_list">
                <li><a href="{% url 'ReviewFlix:Drama'%}">Drama</a></li>
                <li><a href="{% url 'ReviewFlix:Comedy'%}">Comedy</a></li>
                <li><a href="{% url 'ReviewFlix:Horror'%}">Horror</a></li>
                <li><a href="{% url 'ReviewFlix:Thriller'%}">Thriller</a></li>
                <li><a href="{% url 'ReviewFlix:Documentary'%}">Documentary</a></li>
                <li><a href="{% url 'ReviewFlix:Animated'%}">Animated</a></li>
              </ul>
            </div>
          </li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'ReviewFlix:Watchlist' %}">Watchlist</a></li>
            <li><a id="authorised_lst" href="{% url 'ReviewFlix:Logout' %}">Logout</a></li>
          {% else %}
          <div class ="authorised_lst">
            <li><a href="{% url 'ReviewFlix:Register' %}">Register</a></li>
            <li><a href="{% url 'ReviewFlix:Login' %}">Login</a></li>
          </div>
            
          {% endif %}
        </ul>
        

      
    </header>
  
   <div class="about_block">
      <div class="container">
        
        {% block body_block %}        
        {% endblock %}
      </div>
    </div>

    <div class="btn_up">
      <button onclick="topFunction()" id="myBtn" title="Go to top">&#x2191;</button>
    </div>

   
    <footer>
      <ul>

        <div class="main_menu">
          {% if user.is_authenticated %}
          {% if user.userprofile.isProducer%}
          <li><a href="{% url 'ReviewFlix:AddAMovie' %}">Add a Movie</a></li>
          {% endif %}
          {% endif %}
          <li><a href="{% url 'ReviewFlix:FAQ' %}">FAQs</a></li>
        </div>
        
        
      </ul>
    </footer>

     {% block javascript %}
    <script src= "{% static 'js/script.js' %}"></script>
    {% endblock %}
  </body>
</html>
