


{% extends 'ReviewFlix/base.html' %}
{% load staticfiles %}

{% block title_block %}
    FAQs
{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'css/faq.css' %}">
{% endblock %}

{% block body_block %}
    <div class="wrapper">
        <div class="text_wrapper">
            <h1 class="title">General Questions</h1>
            <h2 class="question">What is ReviewFlix?</h2>
            <p class="answers">ReviewFlix is an online platform dedicated to movie enthusiasts who want to explore, review, and discuss their favourite films or a producer who wants some feedback on their movies!. Whether you're a cinephile or just looking for your next movie night pick, ReviewFlix has something for everyone.</p>
            <h2 class="question">Can I get started with ReviewFlix?</h2> 
            <p class="answers">Getting started with ReviewFlix is easy! Simply navigate to our homepage and either log in if you're an existing user or register for a new account if you're new to the platform. Once logged in, you can start exploring movies, reading reviews, and even writing your own reviews.</p>
            <h2 class="question">Is ReviewFlix free to use?</h2>
            <p class="answers">Yes, ReviewFlix is completely free to use. You can browse movies, read reviews, and interact with the community without any cost. </p>
        </div>
        
        <div class="text_wrapper">
            <h1 class="title">Account Related Questions</h1>
            <h2 class="question">How do I register for an account on ReviewFlix?</h2>
            <p class="answers">To register for an account on ReviewFlix, click on the "Register" link in the navigation menu. You'll be prompted to provide some basic information such as your username and password. Once registered, you can start exploring all that ReviewFlix has to offer.</p>
            <h2 class="question">What is "isProducer"?</h2>
            <p class="answers">If you are a producer and want features of uploading information about your movie that you would like to get reviews from, this option is for you!</p>

        </div>


        <div class="text_wrapper">
            <h1 class="title">Review and Rating Questions</h1>
            <h2 class="question">How can I write a review for a movie?</h2>
            <p class="answers">To write a review for a movie, navigate to the movie's page on ReviewFlix and scroll down to the reviews section. You'll find a button labelled "Write a Review" or a similar call-to-action. Click on that button to access the review form, where you can share your thoughts and rate the movie.</p>
            <h2 class="question">How are movie ratings calculated on ReviewFlix?</h2>
            <p class="answers">Movie ratings on ReviewFlix are calculated based on the average rating provided by our users. Each user can rate a movie on a scale of 1 to 5 stars, and the overall rating is determined by averaging all user ratings for that movie.</p></p>
        </div>

    </div>

    
    
    
    
{% endblock %}


