{% extends 'ReviewFlix/base.html' %}

{% block title_block %}
    {{ film.Title}}
{% endblock %}

{% block body_block %}
    <h1>{{ film.Title }}</h1>
    <p><strong>Genre:</strong> {{ film.Genre }}</p>
    <p><strong>Description:</strong> {{ film.Description }}</p>
    <p><strong>Release Date:</strong> {{ film.ReleaseDate }}</p>
    <p><strong>Director:</strong> {{ film.Director }}</p>
    <p><strong>Cast:</strong> {{ film.Cast }}</p>
    {% if film.image %}
        <img src="{{ film.image.url }}" alt="{{ film.Title }} Image">
    {% endif %}
    <h2>Reviews:</h2>
    {% if reviews %}
        <p>Average Rating: {{ average_rating }}</p>
        <ul>
            {% for review in reviews %}
                <li>
                    <p>Author: {{ review.Username }}</p>
                    <p>Rating: {{ review.Rating }}</p>
                    <p>Description: {{ review.Description }}</p>
                    <p>Published on: {{ review.DatePublished }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No reviews available for this film.</p>
    {% endif %}


    <a href="{% url 'ReviewFlix:FilmReview' film_id=film.id %}">Write a Review</a>
{% endblock %}

