{% extends 'ReviewFlix/base.html' %}

{% load staticfiles %}


{% block title_block %}
    {{ film.Title }}
{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'css/film.css' %}">

{% endblock %}

{% block body_block %}
    <div class="film-details-container">
        <div class="film_details">
            <div class="wrapper">
                {% if film.image %}
                    <div class="film_image">
                        <img src="{{ film.image.url }}" alt="{{ film.Title }} Image" class="film_img">
                    </div>
                {% endif %}

                <div class="information">
                    <h1>{{ film.Title }}</h1>
                    <div class="text_wrapper">
                        <p><strong>Genre:</strong> {{ film.Genre }}</p>
                        <p><strong>Description:</strong> {{ film.Description }}</p>
                        <p><strong>Release Date:</strong> {{ film.ReleaseDate }}</p>
                        <p><strong>Director:</strong> {{ film.Director }}</p>
                        <p><strong>Cast:</strong> {{ film.Cast }}</p>
                        {% if reviews %}
                            <p><strong>Average Rating:</strong> {{ average_rating|floatformat:1 }}</p>
                        {% endif %}
                    </div>
                    
                    <div class="btn_wrapper">
                        <a class="btn" href="{% url 'ReviewFlix:FilmReview' film_id=film.id %}">Write a Review</a>
                        {% if user.is_authenticated %}
                        <form id="watchlist-form" method="post" action="{% url 'ReviewFlix:add_to_watchlist' %}">
                            {% csrf_token %}
                            <input class="btn input_btn" type="hidden" name="film_id" value="{{ film.id }}">
                            <input class="btn input_btn" type="submit" value="Add to Watchlist" id="watchlist-btn">
                        </form>
                        {% endif %}
                    </div>
                    
                </div>
                

                
            </div>
            



        </div>
       
    </div>

    <div class="review-container">
        <h2>Reviews:</h2>

        {% if reviews %}
            <div>
                <form method="GET" action="">
                  <label for="sort">Sort By:</label>
                  <select name="sort">
                    <option value="-DatePublished">Most Recently Added</option>
                    <option value="Rating">Rating (Low to High)</option>
                    <option value="-Rating">Rating (High to Low)</option>
                    <option value="-likes">Likes (Most to Least)</option>
                    <option value="likes">Likes (Least to Most)</option>
                  </select>
                  <button type="submit">Sort</button>
                </form>
              </div>
            <ul>
                {% for review in reviews %}
                    <div class="review">
                        <p class="review-author">Author: {{ review.Username }}</p>
                        <p class="review-rating">Rating: {{ review.Rating }}</p>
                        <p class="review-description">Description: {{ review.Description }}</p>
                        <p class="review-likes">Likes: <span id="likes-count-{{ review.id }}">{{ review.likes }}</span></p>
                        <p class="review-date">Published on: {{ review.DatePublished }}</p>
                        <button class="like-btn" data-review-id="{{ review.id }}">Like</button>
                    </div>
                {% endfor %}
            </ul>
        {% else %}
            <p class="no-reviews">No reviews available for this film.</p>
        {% endif %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".like-btn").click(function() {
                var reviewId = $(this).data("review-id");
                $.ajax({
                    url: "{% url 'ReviewFlix:like_review' %}",
                    type: "POST",
                    data: {
                        review_id: reviewId,
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                    },
                    dataType: "json",
                    success: function(response) {
                        if (response.status === "success") {
                            var newLikes = response.new_likes;
                            $("#likes-count-" + reviewId).text(newLikes);
                        } else {
                            alert(response.message);
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });

            var filmId = "{{ film.id }}";
            $.ajax({
                type: "GET",
                url: "/ReviewFlix/check_watchlist/",
                data: { film_id: filmId },
                success: function(response) {
                    if (response.in_watchlist) {
                        $("#watchlist-btn").val("Remove from Watchlist");
                        $("#watchlist-form").attr("action", "{% url 'ReviewFlix:remove_from_watchlist' %}");
                    } else {
                        $("#watchlist-btn").val("Add to Watchlist");
                        $("#watchlist-form").attr("action", "{% url 'ReviewFlix:add_to_watchlist' %}");
                    }
                }
            });

            $("#watchlist-btn").click(function(e) {
                e.preventDefault();
                var form = $(this).closest("form");
                var action = form.attr("action");
                $.ajax({
                    type: "POST",
                    url: action,
                    data: form.serialize(),
                    success: function(response) {
                        if ($("#watchlist-btn").val() === "Remove from Watchlist") {
                            $("#watchlist-btn").val("Add to Watchlist");
                            $("#watchlist-form").attr("action", "{% url 'ReviewFlix:add_to_watchlist' %}");
                        } else {
                            $("#watchlist-btn").val("Remove from Watchlist");
                            $("#watchlist-form").attr("action", "{% url 'ReviewFlix:remove_from_watchlist' %}");
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}
