{% extends 'ReviewFlix/base.html' %}
{% load static %}

{% block title_block %}
    Genres
{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'css/genre.css' %}">
{% endblock %}

{% block body_block %}
    <div class="genres-container">
        <h1>Welcome to the Genres Page</h1>
        <p>Here you can find a list of all the genres available on ReviewFlix</p>
        <div class="genres">
            <div class="genre">
                <img src="{% static 'film_images/drama.jpg' %}" alt="Drama">
                <h3><a href="{% url 'ReviewFlix:Drama'%}">Drama</a></h3>
            </div>
            <div class="genre">
                <img src="{% static 'film_images/comedy.jpg' %}" alt="Comedy">
                <h3><a href="{% url 'ReviewFlix:Comedy'%}">Comedy</a></h3>
            </div>
            <div class="genre">
                <img src="{% static 'film_images/horror.jpg' %}" alt="Horror">
                <h3><a href="{% url 'ReviewFlix:Horror'%}">Horror</a></h3>
            </div>
            <div class="genre">
                <img src="{% static 'film_images/thriller.jpg' %}" alt="Thriller">
                <h3><a href="{% url 'ReviewFlix:Thriller'%}">Thriller</a></h3>
            </div>
            <div class="genre">
                <img src="{% static 'film_images/documentary.jpg' %}" alt="Documentary">
                <h3><a href="{% url 'ReviewFlix:Documentary'%}">Documentary</a></h3>
            </div>
            <div class="genre">
                <img src="{% static 'film_images/animated.jpg' %}" alt="Animated">
                <h3><a href="{% url 'ReviewFlix:Animated'%}">Animated</a></h3>
            </div>
            <!-- Add more genres as needed -->
        </div>
    </div>
{% endblock %}
