{% extends 'ReviewFlix/base.html' %}

{% block title_block %}
    HomePage
{% endblock %}

{% block body_block %}
    <h1>Welcome to the HomePage</h1>
    <p>Here you can find the latest reviews of the latest films</p>
    {% if user.is_authenticated %}
        Hey {{ user.username }}!
    {% else %}
        Would you like to login or register?
        <li><a href="{% url 'ReviewFlix:Register' %}">Register Here!</a></li>
        <li><a href="{% url 'ReviewFlix:Login' %}">Login Here!</a></li>
    {% endif %}
{% endblock %}


