


{% extends 'ReviewFlix/base.html' %}
{% load staticfiles %}


{% block title_block %}
    HomePage
{% endblock %}

{% block body_block %}
    <h1>Welcome to the HomePage</h1>
    {% if user.is_authenticated %}
        Hey {{ user.username }}!
    {% else %}
        Would you like to login or register?
        <li><a href="{% url 'ReviewFlix:Register' %}">Register Here!</a></li>
        <li><a href="{% url 'ReviewFlix:Login' %}">Login Here!</a></li>
    {% endif %}
    <p>Here you can find the latest reviews of the latest films</p>
    {% if top_films %}
    <h2>Top 5 Highest Rated Films:</h2>
    <ul>
        {% for film in top_films %}
            <li>{{ film.Title }} - Average Rating: {{ film.avg_rating }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No films found.</p>
    {% endif %}

{% endblock %}


