


{% extends 'ReviewFlix/base.html' %}
{% load staticfiles %}


{% block title_block %}
    HomePage
{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <script src="{% static 'js/carousel.js' %}"></script>
{% endblock %}
  


{% block body_block %}

    <div class="wrapper">
        <div class="description">
            <h1 class="about">About ReviewFlix</h1>
            <p class="paragraph">Introducing ReviewFlix, your ultimate destination for all things movies! Dive into a world of cinematic wonders where every film has its story told through insightful ratings and reviews. Whether you're seeking a thrilling adventure, a heartwarming romance, or a laugh-out-loud comedy, ReviewFlix has you covered. With our user-friendly interface and vibrant community of movie enthusiasts, discovering your next favorite flick has never been easier. Join us today and unlock the magic of cinema with ReviewFlix!</p>
            
        </div>
        

        <div class="screen_logo">
            <img class="screen_img" src="{% static 'film_images/screen_logo.png' %}"/>
        </div>

    </div>

    
    {% if top_films %}
    <section id="image-carousel" class="splide" aria-label="Beautiful Images">
        <div class="splide__track">
                <ul class="splide__list">
                {% for film in top_films %}
                    <li class="splide__slide">
                        <div class="title_button">
                            <h1 class="title">Top 5 Highest Rated Films:</h1>
                            <h2 class="movie_title">{{ film.Title }}</h2>
                            <h3 class="ranking">Average Rating: {{ film.avg_rating|floatformat:1}}</h3>
                            <a href="{% url 'ReviewFlix:Film' film.id %}" class="button">More Details</a>
                        </div>
                        {% if film.image %}
                            <img class="img_slide_bg" src="{{ film.image.url }}" alt="{{ film.Title }}"/>
                        {% else %}
                            <p>No image available.</p>
                        {% endif %}
                        
                    </li>

                {% endfor %}  
                </ul>

               
        </div>
    </section>
    {% endif %}




    <div class="review_section">
        <div class="title_review">
            <h1>Recommended films</h1>
        </div>

         
        <div class="grid">
            
            <div class="img_review">
                <img class="img_slide" src="{% static 'film_images/pulp_fiction.jpeg' %}"/>
                <a href="{% url 'ReviewFlix:Film' 26  %}review" class="button btn_reviews">Write review</a>

            </div>

            <div class="img_review">
                <img class="img_slide" src="{% static 'film_images/get_out.jpg' %}"/>
                <a href="{% url 'ReviewFlix:Film' 24 %}review" class="button btn_reviews">Write review</a>

            </div>

            <div class="img_review">
                <img class="img_slide" src="{% static 'film_images/shawshank.jpg' %}"/>
                <a href="{% url 'ReviewFlix:Film' 15 %}review" class="button btn_reviews">Write review</a>

            </div>
        </div>
    </div>



    <h1>Welcome to the HomePage</h1>
    {% if user.is_authenticated %}
        Hey {{ user.username }}!
    {% else %}
        Would you like to login or register?
        <li><a href="{% url 'ReviewFlix:Register' %}">Register Here!</a></li>
        <li><a href="{% url 'ReviewFlix:Login' %}">Login Here!</a></li>
    {% endif %}
    <p>Here you can find the latest reviews of the latest films</p>



{% endblock %}


