{% extends 'ReviewFlix/base.html' %}
{% load staticfiles %}


{% block title_block %}
    Review
{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'css/review.css' %}">
{% endblock %}


{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/review.js' %}"></script>
{% endblock %}

{% block body_block %}

<div class="container mt-4">
    <h1 class="title">Review for "{{ film.Title }}"</h1>
    <div class="wrapper">
        <img class="film_img" src="{{ film.image.url }}"/>
        <div class="text_wrapper">
            <h2>Description</h2>
            <p class="description">{{ film.Description }}</p>
        </div>
            
    </div>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        
        <button type="submit" class="submit-btn">Submit Review</button>
    
    </form> 


    
  
</div>
{% endblock %}


