.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.description {
    flex: 1;
    padding: 20px;
}

.description h1{
    text-align: center;
    font-size: 45px;
}

.screen_logo {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.screen_img {
    max-width: 100%;
}

.add-movie-form {
    margin: 0 auto;
    max-width: 600px;
}

.add-movie-form input[type="text"],
.add-movie-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.btn.submit-btn{
    padding: 11px 40px;
}
