
/* Header styles */
header {
  background-color: #333;
  text-align: center;
  color: white;
  display: flex;
  padding: 20px 100px ;
}
header ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding-left: 60px;
}
.logo_img{
    height: 20px;
    margin: 0;
}

#authorised_lst{
    padding-left: 600px;
}
.authorised_lst{
    padding-left: 600px;
}

header ul li {
  display: inline;
  margin-right: 20px;
}
header ul li a {
  color: #fcf7fa;
  text-decoration: none;
  transition: all 0.2s linear;
   
}

a:hover{
  color: #78bcc0;
  text-decoration: none;
}


.dropdown {
    position: relative;
    display: inline-block;
    
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}

.dropdown_list{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    align-items: baseline;
}
  
.dropdown-content a {
    color: #fcf7fa;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin-top: 5px;

}

.dropdown-content a:hover{
  color: #78bcc0;
}

  
.dropdown:hover .dropdown-content {
    display: block;
    background-color: #333;
}
  
.dropdown-content a:hover {
    background-color: #333;
}
  
.about_block{
  padding: 60px 20px;
}

.container.about{
margin: 0;
}


/* Footer styles */
footer {
  background-color: #333;
  padding: 10px 0;
  text-align: center;
  color: white;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer ul li {
  display: inline;
  margin-right: 20px;
}
footer ul li a {
  color: white;
  text-decoration: none;
}

/* Body styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}




/* Header styling */
h1 {
  color: #333;
  margin: 0;
}

/* Film info styling */
p {
  color: #666;
}

strong {
  color: #000;
}

/* Image styling */
img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 5px;
}

/* Reviews styling */
h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #333;
}



a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Reviews styling */
.review-container {
  margin-top: 30px;
}

.review {
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 20px;
}

.review-author {
  font-weight: bold;
  margin-bottom: 5px;
}

.review-rating {
  color: #007bff;
  margin-bottom: 5px;
}

.review-description {
  color: #666;
  margin-bottom: 5px;
}

.review-date {
  color: #999;
  font-size: 0.9em;
}

.no-reviews {
  color: #666;
}
 