.container{
    padding: 0 60px;
}

.wrapper{
    display: flex;
}

.film_image{
    padding-right: 40px;
}

.information h1{
    font-size: 40px;
}

.btn_wrapper{
    display: flex;
    align-items: center;
}

.btn{
    background-color: #78bcc0;
    color: #fcf7fa;
    border: none;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none !important;
    transition: all 0.4s linear;
    margin-right: 20px;
    cursor: pointer;

}

.btn:hover{
    background-color:#a6f0fd;
    color: #363537;
    
}